<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CodePen - Login </title>

  <link rel="stylesheet" href="css/reset.css">

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

</head>

<body>


  <div class="wrap">
		<form action='/addNewTask' method="post">
			<input type="text" name="TaskName" placeholder="Task Name" required>
			<div class="bar">
				<i></i>
			</div>
			<input type="text" name="StartTime" placeholder="Start Time" required>
			<div class="bar">
				<i></i>
			</div>
			<input type="text" name="EndTime" placeholder="End Time" required>
			<div class="bar">
				<i></i>
			</div>
			<button>Add Task</button>
		</form>
	</div>

  <script src="js/index.js"></script>

</body>

</html>